
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="./styles/admin.css">

  <body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 sidebar">
        <h3>Admin Dashboard</h3>
        <ul>
          <li><a href="/adminShowUsers">Users</a></li>
          <li><a href="/adminShowBookings">Bookings</a></li>
          <li><a href="/showRooms">Rooms</a></li>
        </ul>
      </div>
      <div class="col-md-9 main-container">
        <h2>Welcome to the Admin Dashboard</h2>
        <!-- Main content of the admin dashboard -->
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

