<div class="container">
        <div class="row mb-3">
            <div class="col">
                <h1>Εισάγετε ένα νέο βιβλίο</h1>
            </div>
        </div>
        <div class="Info" >
            <p>{{check_in_date}} - {{check_out_date}} - {{guests}}- {{rooms}}</p>
        </div>
</div>