{{!-- me bootstrap --}}
<div class="container" >
    <nav class="navbar navbar-expand-lg navbar-light  header">
        <img src="/resHotel.jpg">
        {{!-- pros8hkh app.use(express.static("public")) sto app gia emfanish tou img --}}
        <a class="navbar-brand" href="/">HotelLogo</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                {{!-- dhmiourgia nav bar to opoio 8a mas phgainei stis antistoixes selides --}}
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/roomsGalery">Rooms</a>
            </li>
            {{#unless username}}
            <li class="nav-item col-6 offset-3 text-center ">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item col-6 offset-3 text-center">
                <a class="nav-link" href="/register">Register</a>
            </li>
            {{/unless}}
            {{#if username}}
            <li class="nav-item col-6 offset-3 text-center">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            {{/if}}
        </ul>
    </nav>
</div>


    