body {
    font-family: Arial, sans-serif;
  }

  .container-fluid {
    padding: 0;
  }

  .sidebar {
    background-color: #333;
    min-height: 100vh;
  }

  .sidebar h3 {
    padding: 20px;
    margin-bottom: 0;
    background-color: #333;
  }

  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .sidebar ul li {
    padding: 10px 20px;
  }

  .sidebar ul li a {
    color: #fff;
    text-decoration: none;
  }

  .sidebar ul li a:hover {
    color: #ccc;
    /* text-decoration: underline; */
  }

  .main-container {
    padding: 20px;
  }