<div class="row mt-5">
    <div class="col-12">
        <h3>{{message}}</h3>
    </div>
</div>

<div class="row mt-2">
    <div class="col">
        <a class="btn btn-sm btn-secondary" href="/adminAddBooking">Add Booking</a>
    </div>
</div>

<div class="row mt-2">
    <div class="col">
        <a class="btn btn-sm btn-secondary" href="/adminShowBookings">Show Bookings</a>
    </div>
</div>

