
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 sidebar">
      <h3>Admin Dashboard</h3>
      <ul>
        <li><a href="/adminShowUsers">Users</a></li>
        <li><a href="/adminShowBookings">Bookings</a></li>
        {{!-- <li><a href="/showRooms">Availability</a></li> --}}
      </ul>
    </div>
    
    <div class="col-md-9 main-container">

      <main role="main" class="col-md-10 ml-sm-auto px-4">        
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                Hotel Occupancy
              </div>
              <div class="card-body">
                <canvas id="myChart"></canvas>
              </div>
            </div>
          </div>
        </div>
      </main>
      
    </div>
  </div>
</div>
