<form action="/doCompleteBoooking" method="post" class="myForm">
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <h1>Add New</h1>
            </div>
        </div>
        {{!-- STOIXEIA KRATHSHS MPAINOUN STO PLAI --}}
        {{!-- <fieldset class="border p-2 mb-3">
            <legend class="w-auto">Στοιχεία κράτησης</legend>
            <div class="row mb-3">
                <div class="col-md-2 col-sm-12 justify-content-end d-flex">
                    <label for="check_in_date" class="col-form-label">check_in_date</label>
                </div>
                <div class="col-md-10 col-sm-10">
                    <input type="date" class="form-control " id="check_in_date" value="{{check_in_date}}" name="check_in_date" placeholder="check_in_date" required>
                    
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-2 col-sm-12 justify-content-end d-flex">
                    <label for="check_out_date" class="col-form-label">check-out-date</label>
                </div>
                <div class="col-md-10 col-sm-10 position-relative">
                    <input type="date" class="form-control " id="check_out_date" value="{{check_out_date}}" name="check_out_date" placeholder="check_out_date" required>
                    
                </div>
            </div>            
            <div class="row mb-3">
                <div class="col-md-2 col-sm-12 justify-content-end d-flex">
                    <label for="guests_count" class="col-form-label">guests_count</label>
                </div>
                <div class="col-md-10 col-sm-10">
                    <input type="number" class="form-control" id="guests_count" value="{{guests_count}}" name="guests_count" placeholder="guests_count" required>
                    
                </div>
            </div>
            
        </fieldset>
        <div class="row mb-3">
            <div class="col">
                <button type="submit" class="btn btn-primary mb-3">Confirm</button>
            </div>
        </div> --}}
    </div>
</form>