
{{!-- <div class="home-container">
    {{#unless username}}
    <div class="row mt-5">
        <div class="col-6 offset-3 text-center">
            <a href="/login">Login</a>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6 offset-3 text-center">
            <a href="/register">Register</a>
        </div>
    </div>
    {{/unless}}
    {{#if username}}
    <div class="row mt-5">
        <div class="col-6 offset-3 text-center">
            <a href="/logout">Logout</a>
        </div>
    </div>
    {{/if}} --}}
    
    {{!-- <div class="row mt-5">
        <div class="col-6 offset-3 text-center">
            <a href="/bookNow">Book Now</a>
        </div>
    </div> --}}

{{!-- </div> --}}
<link type="text/css" rel="stylesheet" href="/public/styles/home.css">

<section class="hero">
    <img src="public/resHotel.jpg">
    <h1>Welcome to Our Hotel</h1>
    <div class="row mt-5">
    <div class="col-6 offset-3 text-center">
        <a href="/bookNow">Book Now</a>
    </div>
    </div>
    <h2>Experience Comfort and Luxury</h2>
    <p>Our hotel offers the finest accommodations, dining options, and amenities for a truly unforgettable stay.</p>
</section>

<section class="featured-rooms">
    <!-- <h2>Featured Rooms</h2> -->
    <div class="room">
    <img src="public/single.jpg">
    <h3>Single Room</h3>
    <p>Cozy and comfortable, our single rooms are perfect for solo travellers or short stays.</p>
    </div>
    <div class="room">
    <img src="public/double-twin.jpg">
    <h3>Double Room</h3>
    <p>Spacious and elegant, our double rooms are ideal for couples or small families.</p>
    </div>
    <div class="room">
    <img src="public/triple.jpg">
    <h3>Triple Room</h3>
    <p>Experience the pinnacle of luxury in our suites, featuring separate living areas and breathtaking views.</p>
    </div>
</section>

