{{!-- <div class="home-container">
    {{#unless username}}
    <div class="row mt-5">
        <div class="col-6 offset-3 text-center">
            <a href="/login">Login</a>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6 offset-3 text-center">
            <a href="/register">Register</a>
        </div>
    </div>
    {{/unless}}
    {{#if username}}
    <div class="row mt-5">
        <div class="col-6 offset-3 text-center">
            <a href="/logout">Logout</a>
        </div>
    </div>
    {{/if}} --}}
 <section class="hero">
    <div class="row mt-5 container text-center">
      <h1>Welcome to Our Hotel</h1>
      <button type="button" id="bookNowButton" class="btn btn-primary col-6 offset-3 text-center" data-toggle="modal" data-target="#bookingModal">Book Now</button>
      <h2>Experience Comfort and Luxury</h2>
      <div>
         <p>Our hotel offers the finest accommodations, dining options, and amenities for a truly unforgettable stay.</p>
      </div>
     
    </div>
</section>

<section class="featured-rooms">
    <!-- <h2>Featured Rooms</h2> -->
    <div class="room">
    <img src="/imgs/single.jpg">
    <h3>Single Room</h3>
    <p>Cozy and comfortable, our single rooms are perfect for solo travellers or short stays.</p>
    </div>
    <div class="room">
    <img src="/imgs/double-twin.jpg">
    <h3>Double Room</h3>
    <p>Spacious and elegant, our double rooms are ideal for couples or small families.</p>
    </div>
    <div class="room">
    <img src="/imgs/triple.jpg">
    <h3>Triple Room</h3>
    <p>Experience the pinnacle of luxury in our suites, featuring separate living areas and breathtaking views.</p>
    </div>
</section>

<div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="bookingModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookingModalLabel">Book Now</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/doSelectRoom" method="get">
                <div class="form-group">
                    <label for="check_in_date">Check-in Date</label>
                    <input type="date" class="form-control" id="check_in_date" name="check_in_date" required>
                </div>
                <div class="form-group">
                    <label for="check_out_date">Check-out Date</label>
                    <input type="date" class="form-control" id="check_out_date" name="check_out_date" required>
                </div>
                <div class="form-group">
                    <label for="guests_count">Number of Guests</label>
                    <input type="number" class="form-control" id="guests_count" name="guests_count" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Book</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
