<h1 class="text-center">Hotel Room Gallery</h1>

<div class="container">
  <div class="row gallery">
    <div class="col-md-6 col-lg-4 gallery-item">
      <img src="../imgs/Single Room.jpg" alt="Room 1" class="img-fluid">
      <div class="overlay">
        <h3>Single Room</h3>
      </div>
    </div>

    <div class="col-md-6 col-lg-4 gallery-item">
      <img src="../imgs/Double Room.jpg" alt="Room 2" class="img-fluid">
      <div class="overlay">
        <h3>Double Room</h3>
      </div>
    </div>

    <div class="col-md-6 col-lg-4 gallery-item">
      <img src="../imgs/Triple Room.jpg" alt="Room 3" class="img-fluid">
      <div class="overlay">
        <h3>Triple Room</h3>
      </div>
    </div>

    <div class="col-md-6 col-lg-4 gallery-item">
      <img src="../imgs/Deluxe Suite.jpg" alt="Room 4" class="img-fluid">
      <div class="overlay">
        <h3>Deluxe Suite</h3>
      </div>
    </div>
  </div>
</div>